@model IEnumerable<MVCProject.Models.Transportation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transports)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityTo)
        </td>
        <td>
            @foreach (var transport in item.Transports)
            {
                @(transport.Number)<br />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
